<div class="well">
    <form method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <script type="text/javascript">

            function youtubeDataCallback(data) {

                /*var keywords = data.entry.media$group.media$keywords.$t;
                //alert(keywords);
                $('#dreamcommunity_websitebundle_videotype_tags').val(keywords);*/

                var miniature = data.entry.media$group.media$thumbnail[1].url;
                //alert(miniature);
                $('#dreamcommunity_websitebundle_videotype_miniature').val(miniature);

                var titre = data.entry.title.$t;
                //alert(titre);
                $('#dreamcommunity_websitebundle_videotype_titre').val(titre);

                var description = data.entry.media$group.media$description.$t;
                //alert(description);
                $('#dreamcommunity_websitebundle_videotype_description').val(description);


            }

            $(document).ready(function() {

                var $urlContainer = $('input#dreamcommunity_websitebundle_videotype_urlVideo').parent();
                var $lienImport = $('<a href="#" id="importData" style="margin-top: -10px; margin-left: 2px;" class="btn btn-info btn-mini"><i class="icon-white icon-refresh"></i> Importez les données</a>');
                $urlContainer.append($lienImport);

                $lienImport.click(function(e) {

                    var videoid = $('#dreamcommunity_websitebundle_videotype_urlVideo').val();
                    var m;
                    if (m = videoid.match(/^http:\/\/www\.youtube\.com\/.*[?&]v=([^&]+)/i) || videoid.match(/^http:\/\/youtu\.be\/([^?]+)/i)) {
                        videoid = m[1];
                    }
                    if (!videoid.match(/^[a-z0-9_-]{11}$/i)) {
                        alert('Unable to parse Video ID/URL.');
                        return;
                    }
                    $.getScript('http://gdata.youtube.com/feeds/api/videos/' + encodeURIComponent(videoid) + '?v=2&alt=json-in-script&callback=youtubeDataCallback');

                    return false;
                });

            });
        </script>
        <input type="submit" class="btn btn-primary" />
        <input name="cancel" class="btn" type="submit" value="Cancel" formnovalidate/>
    </form>
</div>