{% extends "::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block dream_page_title %}
Dream Community
{% endblock %}

{% block dream_contenu %}
    {% for article in liste_articles %}
        {# On inclut la vue à chaque itération dans la boucle #}
        {% include "DreamCommunityWebsiteBundle:Website:articleVue.html.twig" with {'accueil': true} %}
       <hr />
    {% else %}
        <p>Pas (encore !) d'articles</p>
    {% endfor %}

    <div class="pagination pagination-centered">
        <ul>
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nombrePage) %}
                <li{% if p == page %} class="active"{% endif %}>
                    <a href="{{ path('dream_community_website_videos', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}