<h5>Administration</h5>

<ul class="nav" style="font-size:12px;">
    <li> <a href="{{ path('dream_community_website_vue_profil') }}">Voir mon profil</a> </li>
    <li> <a href="{{ path('dream_community_website_modif_profil') }}">Modifier mon profil</a> </li>
    <li>&nbsp;</li>
    <li> <a href="{{ path('dream_community_website_ajout_video') }}">Ajouter une vidéo</a> </li>
    <li> <a href="{{ path('dream_community_website_mes_videos') }}">Voir mes vidéos</a> </li>
</ul>
