
html, body {
    height: 100%;
}
footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -63px;
}

.push {
    height: 63px;
}
/* not required for sticky footer; just pushes hero down a bit */
.wrapper > .container {
    padding-top: 0;
}

.menu-area {
    padding:3px;
    border: 1px solid #666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;
    -webkit-box-shadow:  5px 5px 5px 1px #222;
    box-shadow:  5px 5px 5px 1px #222;
}

.content-area {
    padding:3px;
    margin-bottom:10px;
    border: 1px solid #666;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius:10px;-webkit-box-shadow:  5px 5px 5px 1px #222;
    box-shadow:  5px 5px 5px 1px #222;
}